<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Afternoon</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>1:30 pm - 2:15 pm </td>        <!-- time    -->
        <td> Analyzing Patient Data</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td> 2:15 pm - 2:45 pm </td>        <!-- time    -->
        <td> Creating Functions </td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td> 2:45 pm - 3:00 pm </td>        <!-- time    -->
        <td> Wrap Up and Questions </td>        <!-- content -->
      </tr>
    </table>
  </div>
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
